[submodule "AIServer"]
    path = AIServer
    url = https://github.com/igoforth/RWAI_Server.git
    fetchRecurseSubmodules = on-demand
    branch = .
[submodule "AIItems"]
    path = AIItems
    url = https://github.com/igoforth/RWAI_Items.git
    fetchRecurseSubmodules = on-demand
    branch = .
[submodule "AICore"]
    path = AICore
    url = https://github.com/igoforth/RWAI_Core.git
    fetchRecurseSubmodules = on-demand
    branch = .
